@font-face {
  font-family: 'Norse Bold';
  src: url('font/Norsebold.woff2') format('woff2'),
       url('font/Norsebold.woff') format('woff');
  font-weight: 400;
  font-style: bold;
  font-display: swap;
}

body {
    margin: 0;
    padding: 0;
}

.left-container {
    color: white;
    background-image: url("./img/photo-1585202900225-6d3ac20a6962.avif");
}

.logo > h1 {
    font-family: "Norse Bold", sans-serif;
}

.ccto > a {
    color: inherit;
}