:root {
    --default-padding: 5vw;
    --primary-color: white;
    --btn-color: #596D48;
    --hover-color: rgb(211, 211, 114);
    --active-color: lightgreen;
}

@font-face {
  font-family: 'Norse Bold';
  src: url('font/Norsebold.woff2') format('woff2'),
       url('font/Norsebold.woff') format('woff');
  font-weight: 400;
  font-style: bold;
  font-display: swap;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
}

.left-container {
    padding: 10px 0;
    color: var(--primary-color);
    background-image: url("./img/photo-1585202900225-6d3ac20a6962.avif");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    width: 30vw;
    display: inherit;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    gap: 60vh;
}

.logo {
    width: 100%;
    height: 180px;
    background-color: #00000075;
    display: flex;
    justify-content: center;
    align-items: center;
}

img[alt="odin logo"] {
    height: 150px;
}

.logo > h1 {
    display: inline;
    font-size: 7rem;
    font-family: "Norse Bold", sans-serif;
}

.ccto > a {
    color: inherit;
}

.ccto > a:hover {
    color: yellow;
}

.ccto > a:active {
    color: green;
}

.right-container {
    width: 70vw;
    display: inherit;
    flex-direction: column;
    justify-content: center;
    gap: 7vh;
}

.paragraph-container {
    padding: 0 var(--default-padding);
}

button[type="submit"] {
    background-color: var(--btn-color);
    color: var(--primary-color);
    font-weight: bold;
    font-size: 1rem;
    border: none;
    width: 210px;
    height: 50px;
    border-radius: 10px;
    margin: 0 var(--default-padding);
}

button[type="submit"]:hover {
    background-color: var(--hover-color);
}

button[type="submit"]:active {
    background-color: var(--active-color);
}

a[href="./"] {
    font-weight: 800;
    font-style: bold;
    color: var(--btn-color);
    text-decoration: none;
}

a[href="./"]:hover {
    color: var(--hover-color);
}

a[href="./"]:active {
    color: var(--active-color);
}
.form-container > p {
    padding: 0 var(--default-padding);
}