:root {
    --default-padding: 5vw;
    --primary-color: white;
    --btn-color: #596D48;
    --hover-color: rgb(211, 211, 114);
    --active-color: lightgreen;
    --border-color: #E5E7EB;
}

@font-face {
  font-family: 'Norse Bold';
  src: url('font/Norsebold.woff2') format('woff2'),
       url('font/Norsebold.woff') format('woff');
  font-weight: 400;
  font-style: bold;
  font-display: swap;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    min-height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
}

.left-container {
    padding: 10px 0;
    max-height: 100vh;
    color: var(--primary-color);
    background-image: url("./img/photo-1585202900225-6d3ac20a6962.avif");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 40vw;
    display: inherit;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    gap: 60vh;
}

.logo {
    width: 100%;
    height: 180px;
    background-color: #00000075;
    display: flex;
    justify-content: center;
    align-items: center;
}

img[alt="odin logo"] {
    height: 150px;
}

.logo > h1 {
    display: inline;
    font-size: 7rem;
    font-family: "Norse Bold", sans-serif;
}

.ccto > a {
    color: inherit;
}

.ccto > a:hover {
    color: yellow;
}

.ccto > a:active {
    color: green;
}

.right-container {
    width: 60vw;
    display: inherit;
    flex-direction: column;
    justify-content: center;
    gap: 5vh;
}

.paragraph-container {
    padding: 0 var(--default-padding);
}

button[type="submit"] {
    background-color: var(--btn-color);
    color: var(--primary-color);
    font-weight: bold;
    font-size: 1rem;
    border: none;
    width: 210px;
    height: 50px;
    border-radius: 10px;
    margin: 30px var(--default-padding) 20px;
}

button[type="submit"]:hover {
    background-color: var(--hover-color);
}

button[type="submit"]:active {
    background-color: var(--active-color);
}

a[href="./"] {
    font-weight: 800;
    font-style: bold;
    color: var(--btn-color);
    text-decoration: none;
}

a[href="./"]:hover {
    color: var(--hover-color);
}

a[href="./"]:active {
    color: var(--active-color);
}

.form-container > p,
form > h2 {
    padding: 0 var(--default-padding);
}

.form-container {
    width: 60vw;
}

fieldset {
    margin: 0;
    padding: 0 var(--default-padding);
    border: none;
    box-shadow: 0px 8px 6px -6px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-wrap: wrap;
    column-gap: 100px;
    height: 200px;
    align-items: start;
}

label {
    color: rgb(70, 70, 70);
    letter-spacing: 1px;
    font-weight: 800;
    font-size: 0.75rem;
    display: flex;
    flex-direction: column;
    width: 250px;
}

input {
    border: 1px solid var(--border-color);
    border-radius: 5px;
    width: 250px;
    height: 25px;
}

input[type="password"]:user-invalid {
    border: 1px solid red;
}

input:focus {
    outline: 0;
    border: 1px solid blue;
    box-shadow: 3px 3px 6px -3px rgba(0, 0, 0, 0.15);
}